.container {
  display: flex;
  height: 98vh;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 10px;
}

.row > .textarea:first-child {
  margin-left: 10px;
}


label {
  margin-bottom: 5px;
  display: block;
}



textarea {
  flex: 1;
  min-height: 100px;
  margin-right: 10px;
  &:last-child {
    margin-right: 10px;
  }
}

.decoded {
  background-color: #eee; /* Optional styling for decoded area */
}